.progressbarContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.progressbar {
    width: 30%;
}
label {
    color: white;
    font-size: 2rem;
}
